.accounts {
    @include flex(column, $align-items: center);
    
    @include size(75%, $max-height: 60rem);
    
    overflow-y: scroll;
    padding: 2rem 1rem;    

    color: $white;

    background-color: $black;
    border-radius: 1rem;

    @include screen-for($tablet) {
        width: 90%;
        margin: auto;
    }

    &__list {
        @include flex(row, wrap, $gap: 1rem);

        padding: 0;

        text-align: center;

        list-style-type: none;
    }
}