.main {
    @include screen-for($tablet) {
        @include flex($direction: column);
    }

    @include flex($direction: row);

    @include size($width: 95%);
    margin: 5rem auto;

    &__input {
        @include size($width: 25rem, $height: 4.5rem);
        margin-bottom: 2rem;
        padding-left: 1rem;

        @include text-format($color: $white);

        background-color: $black;
        border: 1px solid rgba($creamy-brown, 0.4);
        border-radius: 1rem;
        outline: 1px solid rgba($creamy-brown, 0.7);
    }

    &__button {
        @include size($width: fit-content);
        padding: 1rem 2rem;

        @include text-format($color: $black, $weight: 700);

        background-color: $creamy-brown;

        border: none;
        border-radius: 1rem;
    }
}